# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Temp
*.tmp

# Vercel
.vercel

# Node
node_modules/
npm-debug.log*

# Environment secrets
.env.local
.env*.local

# Next.js build output
.next/
out/

# TypeScript
*.tsbuildinfo
next-env.d.ts
.env
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
